@page "/dashboard"
@rendermode InteractiveServer
@inject StudentService StudentService


<h3>Students</h3>

@if (students == null)
{
    <p>Loading...</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in students)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<StudentDTO>? students;

    protected override async Task OnInitializedAsync()
    {
        students = await StudentService.GetStudentsAsync();

    }

}
